body{
    background-color: rgb(245, 245, 245);
}

h1{
    color: red;
}

h2{
    color: green;
}

h3{
    color: blue;
}

h4{
    color: purple;
}

h5{
    color: orange;
}

p{
    background-color: rgb(189, 189, 189);
}

.menu{
    list-style: none;
    padding: 0;
    display: flex;
}

li{
    padding-right: 10%;
}